Hotels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Hotels"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="https://asnootycowboy.github.io/cse445_a4/Hotels"
	xmlns="https://asnootycowboy.github.io/cse445_a4/Hotels"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xs:element name="Hotels">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Hotel" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string" />
							<xs:element name="Phone" type="xs:string" maxOccurs="unbounded" />
							<xs:element name="Address">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Number" type="xs:string" />
										<xs:element name="Street" type="xs:string" />
										<xs:element name="City" type="xs:string" />
										<xs:element name="State" type="xs:string" />
										<xs:element name="Zip" type="xs:string" />
									</xs:sequence>
									<xs:attribute name="NearestAirport" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Rating" type="xs:decimal" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
